.preloader{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: antiquewhite;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	
}
.loader{
	height: 208px;
	width: 208px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	border: 4px solid antiquewhite;
	border-top-color: darkgray;
	transform: translate(-50%, -50%);
	animation: spin 2s infinite linear;
/*	animation: spin2 2s infinite linear;*/
}

.preloader img{
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.preloader.done{
	opacity: 0;
	visibility: hidden;
}

@keyframes spin{
	from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
body.loaded{
	overflow-y: scroll;
}