html{
	width: 100%;
	height: 100%;
}

body {
    font-family: Franklin Gothic Medium, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 100;
}

.logo {
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    float: left;
    animation: coming 2s ease;
}

.menu {
    float: left;
}

ul li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.active {
    color: #ef8800 !important;
}

.menu li a:visited {
    color: white;
}

.menu li a:active {
    transform: scale(1.1)
}

.menu li {
    animation: fallingtop 0.4s ease forwards;
    float: left;
    color: #FFF;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

.menu li:nth-child(7) {
    animation-delay: 2.4s;
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fallingtop {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.btn-outline-secondary,
.dropdown-toggle.show {
    color: white;
}

.btn-outline-secondary:active {
    background-color: #ef8800 !important;
}

.btn-outline-secondary:focus {
    background-color: #ef8800 !important;
}

.btn-outline-secondary:hover {
    background-color: #ef8800 !important;
}

.btn-outline-secondary:visited {
    background-color: #ef8800 !important;
}

.main {
    width: 100vw;
    height: 100vh;
    background: url("../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png") 90% 100%/auto 85% no-repeat, url("../img/%D1%84%D0%BE%D0%BD.jpg") center/cover no-repeat;
}

.title_container {
    animation: titlemove 0.8s ease forwards;
    opacity: 0;
    -webkit-animation-delay: 2.8s;
    -o-animation-delay: 2.8s;
    animation-delay: 2.8s;
    color: #2c384a;
    text-align: center;
    width: 100%;
}

@media (max-width: 991px) {
    .title_container {
        animation-delay: 0.4s;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

.title_container h1 {
    font-size: 78px;
}

.title_container h2 {
    margin-top: 40px;
    font-size: 26px;
    color: #79818d;
}

.title_container input {
    transition: all 0.2s;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}

@media (max-width: 991px) {

    .title_container,
    .title_container h2 {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title_container input {
        color: white;
        border-color: white;
        position: relative;
        z-index: 3;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
    }
}

.about_me {
    width: 100vw;
    height: 716px;

}

.about_me img {
    display: block;
}

.about_me h3 {
    color: #263244;
    font-size: 25px;
}

.about_me p {
    font-size: 16px;
    color: #3f495a;
    font-family: Calibri, sans-serif;
}

.about_me input {
    display: block;
    padding-left: 16px;
    font-size: 14px;
    border: 2px solid #6f707e;
    width: 158px;
    height: 34px;
    border-radius: 5px;
    background: url("../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png") no-repeat;
    background-size: 16px;
    background-position: 9px 7px;
    color: #6f707e;
    --animate-duration: 1.7s;
}

.about_me input:hover {
    color: white;
    background: url("../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B02.png") no-repeat, #344051;
    background-size: 16px;
    background-position: 9px 7px;
}

.description {
    margin-bottom: 30px;
    transform: translate(0,120%);
    transition-duration: 0.8s;
    transition-delay: 0.2s;
    opacity:0;
}

#description1{
    transition-delay: 0.4s;
}

.showDescription{
    transition-duration: 0.8s;
    transform: translate(0,0);
    opacity:1;
}

.what_i_can {
    height: 522px;
    width: 100vw;
    background: url("../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg") no-repeat;
}

.w_i_c_1,
.w_i_c_2 {
    height: 50%;
}

@media (max-width:991px) {
    .what_i_can {
        height: 1000px;
        background: url("../img/goran-ivos-idmvPhF8t4E-unsplash.jpg") no-repeat;
        background-size: cover;
        position: relative;
    }

    .what_i_can::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);

    }

    .what_i_can_content {
        position: relative;
        z-index: 3;
    }

    .w_i_c_1 {
        height: 25%;
    }

    .w_i_c_2 {
        height: 75%;
    }
}

@media (max-width: 482px) {
    .w_i_c_2 div {
        width: 100%;
    }
}

.what_i_can img {
    display: block;
}

.what_i_can h3 {
    color: #263244;
    font-size: 25px;
}

.hidden{
    transform: scale(0);
    transition-duration: 0.8s;
}
.shown{
    transform: scale(1);
    transition-duration: 0.8s;
}
.web-design,.development,.CEO,.Marketing {
    height: 156px;
    width: 214px;
    overflow-y: scroll;
    transition-duration: 0.8s;
    
}
.web-design{
    transition-delay: 0s;
}
.development{
    transition-delay: 0.1s;
}
.CEO{
    transition-delay: 0.2s;
}
.Marketing{
    transition-delay: 0.3s;
}

.web-design h5 {
    color: #cf7600;
    font-size: 16px;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-top: 34px;
}

.web-design p {
    color: #515968;
    font-size: 16px;
    text-align: center;
    font-family: Calibri, sans-serif;
}

.development h5 {
    color: #cf7600;
    font-size: 16px;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-top: 34px;
}

.development p {
    color: #515968;
    font-size: 16px;
    text-align: center;
    font-family: Calibri, sans-serif;
}

.CEO h5 {
    color: #cf7600;
    font-size: 16px;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-top: 32px;
}

.CEO p {
    color: #515968;
    font-size: 16px;
    text-align: center;
    font-family: Calibri, sans-serif;
}

.Marketing h5 {
    color: #cf7600;
    font-size: 16px;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-top: 34px;
}

.Marketing p {
    color: #515968;
    font-size: 16px;
    text-align: center;
    font-family: Calibri, sans-serif;
}

.web-design img,
.development img,
.CEO img,
.Marketing img {
    display: block;

}

.web-design,
.development,
.CEO,
.Marketing {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 483px) and (max-width: 991px) {
    .web-design:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .development:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .CEO:hover {
        height: 344px;
        transform: scale(1.1);
    }

    .Marketing:hover {
        height: 344px;
        transform: scale(1.1);
    }

    .web-design {
        overflow-y: hidden;
    }

    .development {
        overflow-y: hidden;
    }

    .CEO {
        overflow-y: hidden;
    }

    .Marketing {
        overflow-y: hidden;
    }
}

@media (min-width: 992px) {
    .web-design:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .development:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .CEO:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .Marketing:hover {
        margin-top: -80px;
        height: 344px;
        transform: scale(1.1);
    }

    .web-design {
        overflow-y: hidden;
    }

    .development {
        overflow-y: hidden;
    }

    .CEO {
        overflow-y: hidden;
    }

    .Marketing {
        overflow-y: hidden;
    }
}

.cases {
    height: 1254px;
    width: 100vw;
}

.cases h3 {
    color: #263244;
    font-size: 25px;
}

.cases_p {
    color: #3f495a;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    text-align: center;
}

.client h4 {
    color: #384354;
    font-size: 18px;
}

.client span {
    font-size: 12px;
    color: #3f495a;
    font-family: Calibri, sans-serif;
}

.website h4 {
    color: #384354;
    font-size: 18px;
}

.website span {
    font-size: 12px;
    color: #3f495a;
    font-family: Calibri, sans-serif;
}

.cases_1 input,
.send_request input {
    height: 44px;
    width: 202px;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    transform: scale(1);
    transition-duration: 0.1s;
    font-family: Myriad Pro, sans-serif;
}

.price_input input {
    height: 44px;
    width: 242px;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    transform: scale(1);
    transition-duration: 0.1s;
    font-family: Myriad Pro, sans-serif;
}

.cases_1 input:active,
.price_input input:active,
.send_request input:active {
    transform: scale(1.1);
}

.cases_1 {
    width: 202px;
}

.cases_2 {
    width: 848px;
}

.cases_2 h4 {
    color: #384354;
    font-size: 18px;
}

.cases_2 p {
    color: #3f495a;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    line-height: 20px;
}

.cases_background {
    transform: scale(1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199px) {
    .cases_background {
        transition: all 0.5s;
        transform: scale(0.8);
    }

    .cases {
        height: 1100px;
    }
}

@media (max-width: 991px) {
    .cases_background {
        transition: all 0.5s;
    }

    .cases {
        height: 800px;
    }
}

.cases_1 {
    width: 25%;
}

.cases_2 {
    width: 75%;
}

@media (max-width: 991px) {

    .cases_1,
    .cases_2 {
        width: 100%;
    }

    .client,
    .website {
        max-width: 50%;
    }

    .cases_2 {
        text-align: center;
    }

}

.price {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.window_price {
    width: 50%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.price > h3 {
    font-size: 34px;
    text-align: center;
    color: #1c2534;
}

.price select {
    width: 892px;
    height: 58px;
    padding-left: 24px;
    color: #737373;
    line-height: 58px;
    font-size: 14px;
    border: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/angleDown.png') no-repeat 96% 50%, url('../img/pcrice_paragraph.png');
    outline: 0;

}

.type h3 {
    color: #1c2534;
    font-size: 24px;
}

.design h3 {
    color: #1c2534;
    font-size: 24px;
}

.adaptive h3 {
    color: #1c2534;
    font-size: 24px;
}

.deadline p {
    color: #1c2534;
    font-size: 16px;
}

.deadline span {
    display: block;
    color: #1c2534;
    font-size: 22px;
}

.cost p {
    color: #1c2534;
    font-size: 16px;
}

.cost span {
    display: block;
    color: #1c2534;
    font-size: 22px;
}

@media (max-width: 991px) {

    .window_price,
    .rev_container {
        width: 75%;
    }
}

@media (max-width: 457px) {
    .window_price {
        width: 90%;
    }
}

.reviews {
    height: 592px;
    width: 100vw;
}

.rev_container {
    width: 50%;
}

.reviews h3 {
    color: #263244;
    font-size: 25px;
}


.reviews p {
    color: #243042;
    text-align: center;
    font-size: 16px;
    font-family: Calibri, sans-serif;
}

.reviews h5 {
    color: #243042;
    text-align: center;
    font-size: 16px;
    font-family: Calibri, sans-serif;
}

.contacts {
    height: 808px;
    color: white;
    position: relative;
}

.contacts_background {
    display: block;
    height: 810px;
    z-index: 0;
}

.contacts_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 12;
}

.contacts h3 {
    color: #FFF;
    font-size: 25px;
}

.contacts p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Calibri, sans-serif;
}

.city {
    text-align: center;
    font-family: Calibri, sans-serif;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}

.city h5,
.email h5,
.number h5 {
    font-size: 18px;
}

.email {
    text-align: center;
    font-family: Calibri, sans-serif;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
}

.number {
    text-align: center;
    font-family: Calibri, sans-serif;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
}

.send_me_message h4 {
    color: white;
    font-size: 17px;
}

.send_me_message input {
    color: white;
    font-size: 16px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    height: 46px;
    width: 124px;
    transform: scale(1);
}

.info input {
    font-size: 16px;
    border: none;
    color: dimgrey;
    color: #101015;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
    height: 36px;
    max-width: 351px;
    width: 100%;
    padding-left: 12px;
}

.send_me_message textarea {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 12px;
    padding-top: 10px;
    color: #101015;
    max-width: 734px;
    width: 100%;
    height: 94px;
	border: none;
}

.modalText textarea{
	width: 100%;
	height: 100px;
	padding-left: 10px;
}

/*
div{
	border: 1px solid red;
}
*/

.send_me_message h4,
.last-btn {
    text-align: center;
}

.modalInput{
	width: 50%;
	padding-left: 10px;
}

footer {
    color: white;
    text-align: center;
    font-size: 16px;
    background: #344051;
    height: 96px;
    width: 100%;
}

footer h5 {
    line-height: 96px;
    height: 100%;
}



.scrollPrice {
    animation: scrollPrice;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes scrollPrice {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    33% {
        opacity: 0;
        transform: translate(0, -50%);
    }

    66% {
        opacity: 0;
        transform: translate(0, 50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.cost,
.deadline {
    overflow: hidden;
}

.contacts a{
	color: white;
	text-decoration: none;
}
