body{
    padding: 50px;
}


.box span{
    display: block;
    text-align:center;
    margin-top:90px;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color:aquamarine;
    /*
    transition-duration: 3.5s;
    transition-property: all; 
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0,1.23,1,-0.55);
    transition: all 2s 0.1s cubic-bezier(0,1.23,1,-0.55)
    -----
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: alternate-reverse;
    animation-fill-mode:backwards;
    */
    animation: move 1s linear reverse infinite backwards, bg-color 2s infinite;
    
}

@keyframes move{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 200px;
    }
}
@keyframes bg-color{
    from{
        background: red;
    }
    to{
        background-color: blue;
    }
}
.box:hover{
    animation-play-state: paused;
}





