.statistics {
    height: 46%;
    width: 100vw;
    margin-top: 32px;
    overflow:hidden;
}

.content>h3 {
    color: #263244;
    font-size: 25px;
}


.clients {
    text-align: center;
    color: #323e4f;
}

.clients h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.clients h4 {
    font-size 16px;
    font-weight: 500;
}

.hours {
    text-align: center;
    color: #323e4f;
}

.hours h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.hours h4 {
    font-size 16px;
    font-weight: 500;
}

.projects {
    text-align: center;
    color: #323e4f;
}

.projects h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.projects h4 {
    font-size 16px;
    font-weight: 500;
}

.rewards {
    text-align: center;
    color: #323e4f;
}

.rewards h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.rewards h4 {
    font-size 16px;
    font-weight: 500;
}
.parallax{
    position: relative;
}

.parallax_bg{
    display: block;
    height: 500px;
}
.content{
    position: absolute;
    bottom: -180%;
    right: 0%;
    left: 0%;
}
.parallax_bg_2{
    display:none;
}
div{
    border:1px solid red;
}
.stat_bg{
    display: flex;
    justify-content:center;
}
@media (max-width: 767px){
    .parallax_bg{
        display: none;
    }
    .parallax_bg_2{
        display: flex;
        justify-content:center;
    }
}