body {
    font-family: Arial, sans-serif;
    width: 1920px;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    color: #FFF;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url("../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png") 90% 100%/auto 85% no-repeat, url("../img/%D1%84%D0%BE%D0%BD.jpg") center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;

}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about_me {
    width: 1920px;
    height: 716px;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat, url("../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.jpg") 50% 224px/210px 210px no-repeat;

}

.about_me h3 {
    padding: 106px 900px;
    color: #263244;
    font-size: 25px;
    font-weight: bold;
}

.about_me p {
    font-size: 16px;
    color: #3f495a;
    margin: 224px 500px 0px 500px;

}

.about_me input {
    display: block;
    margin: 36px auto;
    padding-left: 16px;
    font-size: 14px;
    border: 2px solid #6f707e;
    width: 158px;
    height: 34px;
    border-radius: 5px;
    background: url("../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png") no-repeat;
    background-size: 16px;
    background-position: 9px 7px;
    color: #6f707e;
}

.what_i_can {
    height: 522px;
    width: 1920px;
    background: url("../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg") no-repeat;
}

.what_i_can h3 {
    padding: 106px 0px 136px 876px;
    color: #263244;
    font-size: 25px;
    font-weight: bold;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat;
}

.web-design {
    height: 158px;
    width: 214px;
    margin-left: 418px;
    background: url("../img/%D0%BD%D0%BE%D1%83%D1%82.png") 50% 0%/auto auto no-repeat;
}

.development {
    height: 158px;
    width: 214px;
    margin-left: 82px;
    background: url("../img/%D0%B7%D0%BD%D0%B0%D0%BA.png") 50% 0%/auto auto no-repeat;

}

.CEO {
    height: 158px;
    width: 214px;
    margin-left: 82px;
    background: url("../img/%D1%80%D0%B0%D0%BA%D0%B5%D1%82%D0%B0.png") 50% 0%/auto auto no-repeat;
}

.Marketing {
    height: 158px;
    width: 214px;
    margin-left: 82px;
    background: url("../img/%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BE%D1%84%D0%BE%D0%BD.png") 50% 0%/auto auto no-repeat;
}

.web-design h5 {
    color: #cf7600;
    font-size: 16px;
    padding: 72px 52px 14px 52px;
}

.web-design p {
    color: #515968;
    font-size: 16px;
    text-align: center;
}

.development h5 {
    color: #cf7600;
    font-size: 16px;
    padding: 72px 52px 14px 52px;
}

.development p {
    color: #515968;
    font-size: 16px;
    text-align: center;
}

.CEO h5 {
    color: #cf7600;
    font-size: 16px;
    padding: 72px 22px 14px 22px;
}

.CEO p {
    color: #515968;
    font-size: 16px;
    text-align: center;
}

.Marketing h5 {
    color: #cf7600;
    font-size: 16px;
    padding: 72px 52px 14px 52px;
}

.Marketing p {
    color: #515968;
    font-size: 16px;
    text-align: center;
}

.what_i_can li {
    float: left;
}

.cases {
    height: 1254px;
    width: 1920px;
    background: url("../img/%D0%BA%D0%B5%D0%B9%D1%81.jpg") 390px 256px/auto auto no-repeat;
}

.cases h3 {
    padding: 102px 0px 70px 912px;
    color: #263244;
    font-size: 25px;
    font-weight: bold;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat;
}

.cases > p {
    margin: 0px 618px 0px 618px;
    text-align: center;
    color: #3f495a;
    font-size: 16px;

}

.client {
    margin-bottom: 14px;
}

.client > h4 {
    color: #384354;
    font-size: 16px;
}

.client span {
    font-size: 12px;
    color: #3f495a;
}

.website h4 {
    color: #384354;
    font-size: 16px;
}

.website span {
    font-size: 12px;
    color: #3f495a;
}

.cases_container input {
    height: 44px;
    width: 202px;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-top: 22px;
}

.cases_1 {
    width: 202px;
    margin: 668px 0px 14px 390px;
    float: left;
}

.cases_2 {
    width: 848px;
    float: left;
    margin: 668px 0px 14px 82px;
}

.cases_2 h4 {
    color: #384354;
    font-size: 16px;
}

.cases_2 p {
    color: #3f495a;
    font-size: 16px;
    margin-top: 6px;
}

.price > h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 54px;
    color: #1c2534;
}

.price select {
    background: url("../img/pcrice_paragraph.png");
    width: 892px;
    height: 58px;
    padding-left: 24px;
    margin-top: 22px;
    color: #737373;
    line-height: 58px;
    font-size: 14px;
}

.type {
    margin-bottom: 44px;
    margin-left: 494px;
    color: #1c2534;
    font-size: 22px;
}

.design {
    margin-bottom: 44px;
    margin-left: 494px;
    color: #1c2534;
    font-size: 22px;
}

.adaptive {
    margin-bottom: 44px;
    margin-left: 494px;
    color: #1c2534;
    font-size: 22px;
}

.type h3 {
    font-weight: bold;
}

.design h3 {
    font-weight: bold;
}

.adaptive h3 {
    font-weight: bold;
}

.price img {
    display: block;
    margin-left: 494px;
    margin-top: -8px;
}

.deadline {
    margin: 22px 0px 20px 494px;
}

.deadline p {
    color: #1c2534;
    font-size: 14px;
    float: left;
}

.deadline span {
    display: block;
    margin-left: 880px;
    color: #1c2534;
    font-size: 18px;
    font-weight: bold;
}

.cost {
    margin: 22px 0px 20px 494px;
}

.cost p {
    color: #1c2534;
    font-size: 14px;
    float: left;
}

.cost span {
    display: block;
    margin-left: 880px;
    color: #1c2534;
    font-size: 18px;
    font-weight: bold;
}

.statistics {
    margin-top: 152px;
    background: url("../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.jpg") no-repeat;
    height: 499px;
    width: 1920px;

}

.statistics > h3 {
    padding: 106px 0px 136px 806px;
    color: #263244;
    font-size: 25px;
    font-weight: bold;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat;
}

.statistics li {
    float: left;
}

.clients {
    margin-left: 438px;
    text-align: center;
    color: #323e4f;
}

.clients h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.clients h4 {
    font-size 16px;
    font-weight: 500;
}

.hours {
    margin-left: 156px;
    text-align: center;
    color: #323e4f;
}

.hours h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.hours h4 {
    font-size 16px;
    font-weight: 500;
}

.projects {
    margin-left: 156px;
    text-align: center;
    color: #323e4f;
}

.projects h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.projects h4 {
    font-size 16px;
    font-weight: 500;
}

.rewards {
    margin-left: 156px;
    text-align: center;
    color: #323e4f;
}

.rewards h3 {
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.rewards h4 {
    font-size 16px;
    font-weight: 500;
}

.reviews {
    height: 592px;
}

.reviews h3 {
    padding: 106px 0px 94px 898px;
    color: #263244;
    font-size: 25px;
    font-weight: bold;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat;
}

.reviews > img {
    margin-left: 909px;
}

.reviews p {
    color: #243042;
    margin: 32px 616px;
    text-align: center;
    font-size: 16px;
}

.reviews h5 {
    color: #243042;
    margin-top: 34px;
    text-align: center;
    font-size: 16px;
}

.points {
    margin-left: 926px;
    margin-top: 48px;
}

.points input {
    margin-right: 10px;
}

.contacts {
    background: url("../img/%D1%84%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D0%BE%D0%B2.jpg") no-repeat;
    height: 808px;
}

.contacts h3 {
    padding: 106px 0px 70px 852px;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png") 50% 160px/auto auto no-repeat;
}

.contacts > p {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-bottom: 46px;
}

.contacts_2 li {
    color: white;
}

.city {
    height: 72px;
    float: left;
    margin-left: 604px;
    text-align: center;
}

.city h5 {
    margin-top: 14px;
    margin-bottom: 8px;
}

.email {
    float: left;
    margin-left: 102px;
    text-align: center;
}

.email h5 {
    margin-top: 14px;
    margin-bottom: 8px;
}

.number {
    padding-left: 1150px;

}
.number img{
    display: block;
    margin-left: 50px;
}

.number h5 {
    margin-top: 14px;
    margin-bottom: 8px;
}
.send_me_message h4{
    color: white;
    margin-top: 48px;
    font-size: 17px;
    margin-left: 812px;
    margin-bottom: 43px;
}
.send_me_message form{
    margin-left: 590px;
}
.send_me_message input{
    color: white;
    font-size: 16px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    height: 46px;
    width: 124px;
    margin-left: 302px;
}
.info>input{
    font-size: 16px;
    border: none;
    color: dimgrey;
    background-color: rgba(255,255,255,0.7);
    border-radius: 0px;
    height: 36px;
    width: 351px;
    margin-left: 0px;
    margin-right: 28px;
    padding-left: 12px;
}
.send_me_message textarea{
    font-size: 16px;
    background-color: rgba(255,255,255,0.7);
    padding-left: 12px;
    padding-top: 10px;
    color: #5d5d5e;
    width: 734px;
    height: 94px;
    margin-bottom: 26px;
}
